{{#if @custom.hero_cta_url}}
<div class="pw-sticky-cta-wrap" role="complementary">
    <a class="pw-sticky-cta" href="{{@custom.hero_cta_url}}">
        <span class="pw-sticky-cta-text">{{@custom.hero_cta_label}}</span>
    </a>
    {{#if @custom.phone_number}}
        <a class="pw-sticky-cta pw-sticky-cta-phone-only" href="tel:{{@custom.phone_number}}" aria-label="Call">
            {{> "icons/phone"}}
        </a>
    {{/if}}
</div>
{{/if}}
